*{
    margin:0;
    padding: 0;                 /* *******aqui hago un reseto CSS****** */
    box-sizing: border-box; 
}
/* *******************FUNCIONES**************************************** */
@font-face {
    font-family: "Kaushan";
    src: url("../fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "GrapeNuts";
    src: url("../fonts/GrapeNuts-Regular.ttf");
}

html{
    font-size: 62.5%;
}

body{
    background-color: #9fd962;
}

/* ****************************HEADER/NAV***************************** */
.encabezado{
    box-shadow: 0rem 0.1rem 0.5rem rgb(104, 124, 105);
} 

.encabezado__logo{
    width: 10rem;
    height: 10rem; 
    margin: 2rem 4rem;
    border-radius: 30%;
    border-style:groove;
    border-color: magenta; 
    animation-name: giroLogo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
} 

.encabezado__menu{
    margin: 2rem;
    padding: 2rem;
    font-family: "Kaushan";
    font-weight: bolder;
    font-size: 2rem;
} 

.navbar-light{
    color: #005555;
} 

.nav-item a{
    margin: 0 1.5rem;
}

.nav-link:hover{
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}

.submenu{
    background: radial-gradient(yellowgreen, #51a64b);
    width: 100%;
    font-size: 2rem;
}  

/* ********************************* MAIN ******************************** */
.slider{
    height: 200px;
    width: 100%;
    margin:0px;
    background-image: url(../images/slider1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* **************************** index-productos ************************************ */
.sec__color{
    background: linear-gradient(#9fd962, #f3fa58, #9fd962);
} 

.titulo h1{
    color: #005555;
    font-family: "Kaushan";
    margin: 1rem 1rem;
    font-size: 3.5rem;
}

.subtitulo h2{
    margin: 15px;
    color: #005555;
    font-family: "GrapeNuts";
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}

.subtitulo p{
    margin: 1rem 5rem;
    text-align: justify;
    font-size: 1.7rem;
}

.prod__card{
    margin: 5rem 6rem; 
    padding: 0.5rem;
    background-color: #B4FF9F;
    height: 35rem;
}

.prod__card:hover{
    transform: scale(1.2);
    transition: 1s;
}

.prod__foto{
    width: 20rem;
    height: 20rem; 
    margin: 1rem 2rem;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prod__descripcion{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 0.5rem #005555;
    background-color: #b4ff9f;
} 

.prod__precio{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #005555;
}

/* ****************************quienes somos************************************ */
.quienes__color{
    background: linear-gradient(#9fd962, #f3fa58, #9fd962);
}

.quienes__image{
    margin-bottom: 1rem;
    text-align: center;
}
/* ****************************consultorio************************************ */
.consultorio{
    background-color: linear-gradient(#9fd962, #f3fa58, #9fd962);
}

.consultorio p{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.form{
    font-size: 1.5rem;
    background: linear-gradient( #51a64b, #E9EFC0, #B4E197, #51a64b);
    padding: 20px;
    margin-bottom: 1rem;
}

.boton__form1{
    margin-top: 1rem;
    font-weight: bold;
}

.boton__form2{
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: bold;
}

/* ****************************contacto************************************ */
.contacto{
    background-color: linear-gradient(#9fd962, #f3fa58, #9fd962);
}

.contacto p{
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* **********************************FOOTER******************************* */
.b-example-divider {
    height: 2rem;
    background-color: rgba(2, 52, 23, 0.1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 0.1rem 0;
    box-shadow: inset 0 .5em 1.5em rgba(2, 52, 23, 0.1), inset 0 .125em .5em rgba(2, 52, 23, .15);
  } 

.borde{
    border-top: solid rgba(2, 52, 23, 0.1);
    border-width: 0.2rem 0;
  }

.borde p{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
}

.pie{
    margin-top: 0px;
    background: linear-gradient(to bottom, #9fd962, #51a64b);
    box-shadow: 0.8rem 0.2rem 0.8rem rgb(104, 124, 105);
} 

.pie__items__1, .pie__items{
    padding-top: 1rem;
    text-align: center;
}

.pie__items__1 h2, .pie__items h2{
    text-decoration: none;
    color: #005555;
    font-family: "GrapeNuts";
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.pie__items__1 h2 a{
    text-decoration: none;
    color: #005555;
}

.pie__descripcion li{
    margin-top: 0.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    text-decoration: none;
    list-style-type: none;
}

.pie__redes{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
    
}

.pie__redes li a img{
    width: 40%;
    justify-content: space-between;
   
}

.pie__items__1 > h2 a:hover{
    color: aquamarine;
    transition: 1s;
}

.pie__redes li a img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

/* *****************Animacion****************************** */
@keyframes giroLogo {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(80deg);
    }
    40%{
        transform: rotate(160deg);
    }
    60%{
        transform: rotate(240deg);
    }
    80%{
        transform: scale(320deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

/**************** Responsive ********************************/
/* @media (max-width: 768px){
    .padre{
        grid-template-areas:    
                        "logo logo"
                        "encabezado encabezado"
                        "sec1 sec1"
                        "sec2 sec2"
                        "footer footer";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px repeat(2,300px) auto 500px;
    }
    .encabezado__logo{
        justify-self: center;
    }
    .encabezado__menu__items{
        margin: 0%;
        padding: 10px;
    }
    .encabezado__menu ul{
        flex-wrap: wrap;
    }
    h1{
        color: purple;
        font-family: "Kaushan";
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .quienes p{
        margin: 2px;
    }
    .quienes__image{
        height: 300px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pie, .pie__items{
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: center;
    }
    .pie__items__1{
        height: 30px;
    }
}

@media (max-width: 360px){
    .padre{
        grid-template-areas:    
                        "logo"
                        "encabezado"
                        "sec1"
                        "sec2"
                        "footer";
                        grid-template-columns: 1fr;
        grid-template-rows: 200px 210px 350px auto 500px;
    }
    .encabezado__logo{
        justify-self: center;
    }
    .encabezado__menu__items{
        margin: 0%;
        padding: 10px;
    }
    .encabezado__menu ul{
        flex-direction: column;
    }
    .submenu li{
        margin: 0%;
    }
    h1{
        color: purple;
        font-family: "Kaushan";
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    .quienes{
        height: 350px;
    }
    .quienes p{
        margin: 5px;
        text-align: justify;
        height: fit-content;
    }
    .quienes__image{
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pie, .pie__items{
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: center;
    }
    .pie__items__1{
        height: 20px;
    }
} */