*{
    margin:0;
    padding: 0;                 /* *******aqui hago un reseto CSS****** */
    box-sizing: border-box; 
}
/* *******************FUNCIONES**************************************** */
@font-face {
    font-family: "Kaushan";
    src: url("../fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "GrapeNuts";
    src: url("../fonts/GrapeNuts-Regular.ttf");
}

html{
    font-size: 62.5%;
}

.padre{
    display: grid;
    grid-template-areas:    
                        "encabezado encabezado encabezado encabezado"
                        "sec1 sec1 sec1 sec1"
                        "sec2 sec2 sec2 sec2"
                        "footer footer footer footer";
   background-image: radial-gradient(#f3fa58, #f3fa58, #51a64b, #9fd962, #9fd962);
} 


/* ****************************HEADER/NAV***************************** */
.encabezado{
    grid-area: encabezado;
    width: 100%; 
    height: 150px;
    padding: 0px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.encabezado__logo{
    background-image: url(../images/Logo/logocayena1.jpg);
    width: 10rem;
    height: 10rem; 
    margin: 20px 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30%;
    border-style: groove;
    border-color: magenta; 
    position: relative;
    animation-name: giroLogo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
} 

.encabezado__logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.encabezado__menu{
    width: auto; 
    margin: 0;
} 

.encabezado__menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.encabezado__menu__items{
    list-style-type: none;
    padding: 30px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.encabezado__menu__items a{
    margin: 20px;
    padding: 15px;
    color: #005555;
    font-family: "Kaushan";
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden; 
    background: radial-gradient(yellowgreen, #51a64b);
}  

.submenu li{
    width: 100%;
    margin: 15px;
    text-align: center;
}

.encabezado__menu__items a{
    transition: transform 2s;
}

.encabezado__menu__items a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}

.encabezado__menu__items:hover ul{
    visibility: visible; 
    z-index: 1;
}

/* ********************************* MAIN ******************************** */
.slider{
    grid-area: sec1;
    height: 200px;
    width: 100%;
    margin:0px;
    background-image: url(../images/slider1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
/* **************************** index-productos ************************************ */
.seccion{
    grid-area: sec2;
    background: radial-gradient(yellowgreen, #51a64b, #E9EFC0);
}

h1{
    color: #005555;
    font-family: "Kaushan";
    font-size: 35px;
    margin-left: 10px;
    margin-top: 5px;
}

.ofertas{
    grid-area: sec2;
    margin: 50px 50px;
    box-shadow: lightskyblue 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    width: 250px;
}

.ofertas__foto{
    width: 100%;
    height: auto;
    padding-left: 50px;
}

.ofertas:hover{
    transform: scale(1.5);
    transition: 1s;
}

.ofertas__descripcion{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #005555;
    padding: 10px;
} 

.seccion h2{
    margin: 15px;
    color: #005555;
    font-family: "GrapeNuts";
    font-size: 25px;
    text-align: center;
}

.sección p{
    margin: 10px 50px;
    text-align: justify;
}

/* ****************************quienes somos************************************ */
.quienes{
    grid-area: sec1;
    height: 30vh;
    background-color: #c2edbf;
}

.quienes h2{
    margin: 15px;
    color: #005555;
    font-family: "GrapeNuts";
    font-size: 25px;
    text-align: center;
}

.quienes p{
    margin: 10px 50px;
    text-align: justify;
    font-size: 1.7rem;
}

.quienes__image{
    grid-area: sec2;
    height: 90vh;
    width: 100%;
    background-image: url(../images/localCayena.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ****************************consultorio************************************ */
.consultorio{
    grid-area: sec1; 
    background-color: #51a64b;
}

.consultorio p{
    font-size: 1.5rem;
}

.form{
    grid-area: sec2;
    font-size: 1.5rem;
    background: linear-gradient( #51a64b, #E9EFC0, #B4E197, #51a64b);
    padding: 20px;
}

/* ****************************contacto************************************ */
.contacto{
    grid-area: sec1;
    background-color: #51a64b;
}
.contacto p{
    font-size: 1.5rem;
}

/* **********************************FOOTER******************************* */
.pie{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, #51a64b, #9fd962);
} 

.pie__items__1, .pie__items{
    width: 250px;
    height: 150px; 
    padding-top: 10px;
    text-align: center;
}

.pie__items__1 h2, .pie__items h2{
    text-decoration: none;
    color: #005555;
    font-family: "GrapeNuts";
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.pie__items__1 h2 a{
    text-decoration: none;
    color: #005555;
}

.pie__descripcion li{
    margin-top: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    list-style-type: none;
}

.pie__redes{
    display: flex;
    margin-top: 10px;
    width: 250px;
    align-items: center;
    list-style-type: none;
}

.pie__redes li a img{
    width: 45%;
}

.pie__items__1 > h2 a:hover{
    color: aquamarine;
    transition: 1s;
}

.pie__redes li a img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

/* *****************Animacion****************************** */
@keyframes giroLogo {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(80deg);
    }
    40%{
        transform: rotate(160deg);
    }
    60%{
        transform: rotate(240deg);
    }
    80%{
        transform: scale(320deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

/**************** Responsive ********************************/
@media (max-width: 768px){
    .padre{
        grid-template-areas:    
                        "logo logo"
                        "encabezado encabezado"
                        "sec1 sec1"
                        "sec2 sec2"
                        "footer footer";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px repeat(2,300px) auto 500px;
    }
    .encabezado__logo{
        justify-self: center;
    }
    .encabezado__menu__items{
        margin: 0%;
        padding: 10px;
    }
    .encabezado__menu ul{
        flex-wrap: wrap;
    }
    h1{
        color: purple;
        font-family: "Kaushan";
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .quienes p{
        margin: 2px;
    }
    .quienes__image{
        height: 300px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pie, .pie__items{
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: center;
    }
    .pie__items__1{
        height: 30px;
    }
}

@media (max-width: 360px){
    .padre{
        grid-template-areas:    
                        "logo"
                        "encabezado"
                        "sec1"
                        "sec2"
                        "footer";
                        grid-template-columns: 1fr;
        grid-template-rows: 200px 210px 350px auto 500px;
    }
    .encabezado__logo{
        justify-self: center;
    }
    .encabezado__menu__items{
        margin: 0%;
        padding: 10px;
    }
    .encabezado__menu ul{
        flex-direction: column;
    }
    .submenu li{
        margin: 0%;
    }
    h1{
        color: purple;
        font-family: "Kaushan";
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    .quienes{
        height: 350px;
    }
    .quienes p{
        margin: 5px;
        text-align: justify;
        height: fit-content;
    }
    .quienes__image{
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pie, .pie__items{
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: center;
    }
    .pie__items__1{
        height: 20px;
    }
}