$colorprimario: #51a64b;
$colorsecundario: #f3fa58;
$colorbody: #9fd962;
$colorcards: #B4ff9f;
$colorfuente: #005555;
$radialgrad: radial-gradient(yellowgreen, #51a64b);
$lineargrad: linear-gradient(#9fd962, #f3fa58, #9fd962);