/* **********************************MODAL******************************* */
.table__productos{
    display: flex;
    img{
        width: 9rem;
        object-fit: contain;
        border-radius: 0.6rem;
        margin-right: 2rem;
    }
}

.table__cantidad input{
    width: 4rem;
    border: none;
    outline: 0;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.trash {
	@include tamanio (3rem, 3rem);
} 