/* *******aqui defino mis fuentes utilizadas en el proyecto****** */
@font-face {
    font-family: "Kaushan";
    src: url("../fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "GrapeNuts";
    src: url("../fonts/GrapeNuts-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoFlex-Regular.ttf");
}